In [1]:
# WRDS initial setup - obtain the pgpass file
# run once
import wrds
db = wrds.Connection(wrds_username='codywan')
# db.create_pgpass_file()

WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

db = wrds.Connection()

Common Methods:
- db.close()
- db.connection()
- db.describe_table()
- db.get_table()
- db.list_tables()
- db.raw_sql()
- db.get_row_count()
- db.list_libraries()

To limit the number of records in a query:

1. db.get_table('djones', 'djdaily', columns=['date', 'dji'], obs=10)
2. db.raw_sql('select date,dji from djones.djdaily LIMIT 10;', date_cols=['date'])

To query the dataset structure (Metadata):

1. List all available libraries at WRDS using list_libraries()
2. Select a library to work with, and list all available datasets within that library using list_tables()
3. Select a dataset, and list all available variables (column headers) within that dataset using describe_table()

**Note**: library and dataset names must be in lowercases. A comprensive list of wrds libraries is avavilable [here](https://wrds-www.wharton.upenn.edu/pages/about/data-vendors/)

In [1]:
# regular use of wrds starts here
import wrds
db = wrds.Connection()

Loading library list...
Done

In [7]:
db.raw_sql('SELECT * FROM crsp.ccmxpf_linktable LIMIT 100')
# db.raw_sql('SELECT * FROM crsp.dsf LIMIT 100')

,gvkey,linkprim,liid,linktype,lpermno,lpermco,usedflag,linkdt,linkenddt
0,001000,C,00X,NU,NaN,NaN,-1.0,1961-01-01,1970-09-29
1,001000,P,01,NU,NaN,NaN,-1.0,1970-09-30,1970-11-12
2,001000,P,01,LU,25881.0,23369.0,1.0,1970-11-13,1978-06-30
3,001001,C,00X,NU,NaN,NaN,-1.0,1978-01-01,1983-09-19
4,001001,P,01,LU,10015.0,6398.0,1.0,1983-09-20,1986-07-31
...,...,...,...,...,...,...,...,...,...
95,001038,C,00X,NU,NaN,NaN,-1.0,1982-04-01,1983-08-17
96,001038,P,01,LU,66413.0,6301.0,1.0,1983-08-18,2004-12-31
97,001038,C,99X,NU,NaN,NaN,-1.0,2005-01-01,2005-01-31
98,001039,C,00X,NR,NaN,NaN,-1.0,1965-01-01,1965-06-29
99,001039,P,01,NR,NaN,NaN,-1.0,1965-06-30,1970-04-28

In [ ]:
""" data query for Project 20Fall """
# 1. monthly historical price data: crspa.msf (https://wrds-web.wharton.upenn.edu/wrds/ds/crsp/stock_a/msf.cfm?navId=128)
# 2. mapping of permno and shrcd (share code): crspa.dsfhdr (https://wrds-web.wharton.upenn.edu/wrds/ds/crsp/stock_a/stkhdr.cfm?navId=128)
# 3. mapping of permno, permco, gvkey, cusip, ticker, cik etc.: crspa.ccmlinktable (https://wrds-web.wharton.upenn.edu/wrds/ds/crsp/ccm_a/linktable/index.cfm?navId=120)

db.raw_sql("SELECT * FROM crspa.msf LIMIT 100") # it used to work but now I ran into "ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for relation msf"; alternative is to download all files in csv locally, which in total would not take more than 1GB

# pd.to_csv('/Users/codywan/Data/WRDS Data/crspa_msf.csv')

In [ ]:
db.close()